    /* Layout chính */
    .container {
      display: flex;
      align-items: stretch;
      /* ép 2 cột bằng chiều cao nhau */
      max-height: 300px;
    }

    /* Cột logo bên trái */
    #logo {
      flex: 2;
      display: flex;
      flex-direction: column;
      height: 300px;
    }

    #logo h3 {
      background: #f0f0f0;
      margin: 0;
      flex: 2;
      height: min-content;
    }

    #logo #avatar {
      width: 100%;
      height: 10px;
      /* avatar cố định 200px */
      object-fit: cover;
      /* cắt ảnh gọn, không méo */
      flex: 8;
    }

    /* Cột banner bên phải */
    #banner {
      flex: 8;
      display: flex;
    }

    #banner img {
      width: 100%;
      height: auto;
      /* cao = cột logo */
      object-fit: cover;
      display: block;
    }

    /* Phần giữa */
    #middle {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }

    #left {
      flex: 2;
      background: #f9f9f9;
      padding: 10px;
    }

    #center {
      flex: 8;
      padding: 10px;
    }

    /* Phần cuối */
    #bottom {
      margin-top: 20px;
      padding: 10px;
      background: #eee;
      text-align: center;
    }

    .menu li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #a8a8a8;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover: sáng lên */
.menu li:hover {
  background-color: #ffffff;
}

/* Khi được chọn */
.menu li.selected {
  background-color: #2ad6ea;
  color: rgb(18, 12, 12);
  font-weight: bold;
}

#center {
    display: flex;
}
